<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Layout</title>

    <link th:href="${link}" rel="stylesheet">

    <link th:if="${css}" th:href="${css}" rel="stylesheet">
    <script th:if="${js}" th:src="${js}"></script>
</head>
<body>
    <div class="top-div">
        <h1>Admin page</h1>
    </div>
    <div class="content-div">
        <div class="side-menu"></div>
        <div th:replace="~{${page} :: content}"></div>
    </div>
</body>
</html>